*{
    margin: 0;
    padding: 0;
}
header{
    background-color:  #24282B;
    color:white;
    display:flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    border-bottom:6px  solid #1293D4;
    
    
}
.nv a {
    color:white;
   
    text-decoration: none;
    
}
.nav li{
    display: inline-block;
    
}
li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}
.nv{
    display: flex;
    
}
header h2{
    font-size: 50px;
}
.nv li{
padding:0 15px

}

.azul{
    color:#1293D4;
}
main{
    background-image: url(/images/cabecera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    display: flex;
    height: 70vh;
     justify-content: center;
     align-items: center;
}
.text1{
    color: white;
    text-align: center;
    font-size: 100px;
}
.p1{
    color: white;
    text-align: center;
}
.caja1{
    
    color:white;
    background:  #24282B;
    height: 9vh;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    padding: 0 50px;
}
input.ema{
    border-radius: none;
    height: 30px;
    border: none;
    
}
input.bot1{
    border-radius: none;
    background: #E8491D;
    border:none;
    width:100px;
    height: 30px;
    color:white;

    
}
.caja2{
    max-width: 73%;
    margin: 35px;
}
.aside{
    max-width: 20%;
    height: 20vh;
    padding: 15px;
    margin:35px;
    float:right;
    background:#24282B;
    color:white;

}
.caja3{
    background:#24282B;
    color:white;
    height: 30vh;
    max-width: 73%;
    margin: 35px;
}
footer{
    display:flex;
    justify-content: center;
    align-items:center;
    background: #1293D4;
    color: white;
    height: 8vh;
    font-size: 12px;
}
@media (max-width:600px) {
    header{
        flex-direction: column;
       }
       .caja1{
        font-size: 18px;
        padding: 20px;
        flex-direction: row;

    }
    .aside{
       margin-right: 40px;
       margin-left: 40px;
        max-width: 100%;
    }
    .caja2{
        margin-right: 40px;
        margin-left: 40px;
         max-width: 100%;
    }
    .caja3{
        margin-right: 40px;
        margin-left: 40px;
         max-width: 100%;
    }
}